
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Great+Vibes');
:root {
  --main-color: #e42729;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
section {
  min-height: 100vh; /* Đảm bảo các phần có chiều cao tối thiểu bằng chiều cao màn hình */
  padding: 20px;
}

a {
  text-decoration: none !important;
  color: #333;
}

p{
  margin-top: 5px;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    color: #666;
}

ul {
  list-style: none;
}
img {
  width: 100%;
}
#snow {
  height: 100vh;
  width: 100%;
  background-image: url(./images/snow.png);
  -webkit-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }

  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

header {
  padding: 0 60px;
  background-color: #fff;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999999;
}
main {
  margin-top: 60px;
}

/* Logo */
.logo img {
  display: block;
  cursor: pointer;
  height: 80px;
  transition: all 0.3s ease;
}

.logo img:hover {
  opacity: 0.8;
}

.menu ul {
  display: flex;
  margin: 0;
}

.menu li {
  margin: 0 20px;
}

.menu a {
  font-size: 17px !important;
  text-decoration: none;
  color: #525252;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: var(--main-color);
}

.active {
  color: var(--main-color) !important;
  font-weight: bold; 
}

/* ================================BANNER====================================== */
.banner{
    /* background-color: #b2afb2; */
    background-image: url(../images/snow.png);
   
  -webkit-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
.banner .box-text-baner{
    margin-left: 150px;
}
.banner .title {
  color: var(--main-color);
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
}

.banner .subtitle {
    font-size: 20px;
    margin: 20px 0;
}

/*==============================================================================================================================
    Wish
==============================================================================================================================-*/
.title-box {
  text-align: center;
}
.title-box h2 {
  font-size: 75px;
    font-family: 'Great Vibes', cursive;
    color: #e91327;
    font-weight: 400;
    padding: 0;
}

.btn-readMore{
  transition: 0.2s;
  padding: 10px 25px;
  background: #e91327;
  color: #ffffff !important;
  font-weight: 300;
  font-size: 15px;
  border-radius: 0 15px;
  margin-top: 50px;
  transition: all 0.5s ease;
}
.btn-readMore:hover {
 opacity: 0.8;
}


/*==============================================================================================================================
    Besst Deal
==============================================================================================================================-*/
.services-box {
  padding: 70px 0px;
  background-color: #fff;
}

.effect-service {
  position: relative;
 text-align: center;
    height: auto;
 cursor: pointer;
  border: 8px solid #eee;
  margin-bottom: 30px;
}

figure.effect-service{
background: -webkit-linear-gradient(-45deg, #EC65B7 0%,#05E0D8 100%);
background: linear-gradient(-45deg, #EC65B7 0%,#05E0D8 100%);
}
figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}
figure.effect-service img {
  opacity: 0.85;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure figcaption, .grid figure figcaption > a  {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}
figure figcaption {
  padding: 10px;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
figure.effect-service h2 {
  padding: 20px;
  width: 50%;
  height: 50%;
  text-align: left;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(10px,10px,0);
  transform: translate3d(10px,10px,0);
}

figure.effect-service h2 {
  background: #e91327;
  padding: 13px;
  width: 94%;
  height: 58px;
  border: 0;
  margin: 0;
  font-weight: 200;
  font-size: 34px;
  color: #ffffff;
  text-align: center;
  font-family: 'Great Vibes', cursive;
}

figure.effect-service p {

  padding: 15px;
  width: 100%;
  height: 80%;
  font-size: 14px;
  border: 2px solid #fff;
  margin: 0;
  font-weight: 300;
  display: none;

}

figure.effect-service p {
  float: right;
  padding: 20px;
  text-align: left;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
}

figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

figure.effect-service:hover img {
  opacity: 0.6;
}
figure.effect-service:hover p {
  opacity: 1;
}
figure.effect-service:hover {
  border: 8px solid #e91327;
}

/*==============================================================================================================================
    Donate
==============================================================================================================================-*/
/*------------------------------------------------------------------
    Gallery
-------------------------------------------------------------------*/

.gallery-box{
	padding: 70px 0px 120px;
}

.gallery-box ul{}
.gallery-box ul li {

    position: relative;
    width: 31.33%;
    margin: 0 1% 20px !important;
    padding: 0px;
    float: left;
    border: none;
    overflow: hidden;
    margin-bottom: 0px;

}
.gallery-box ul li a{
	position: relative;
	display: inline-block;
	border: 4px solid #ffffff;
}
.gallery-box ul li a::before {

    content: "";
    position: absolute;
    background: rgba(233, 19, 39, 0.9);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;

}
.gallery-box ul li a .overlay{
	background: #70c6eb;
	color: #3a4149;
	font-size: 22px;
	text-align: center;
	width: 38px;
	height: 38px;
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
}
.gallery-box ul li a:hover::before{
	top: 0;
	opacity: 1;
}
.gallery-box ul li a:hover .overlay{
	opacity: 1;
}
.gallery-box ul li a:hover{
	border: 4px solid #e91327;
}
.gallery-box ul li a .overlay {
    background: #fff;
    color: #e91327;
}
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: -20px; /* Đẩy nút ra ngoài hình ảnh */
  right: -20px; /* Đẩy nút ra ngoài hình ảnh */
  background: #fff;
  color: #e91327;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1001;
  transition: transform 0.3s ease, background 0.3s ease;
}

/* Hiệu ứng hover cho nút đóng */
.close-btn:hover {
  transform: scale(1.1);
  background: #e91327;
  color: #fff;
}

.popup-content img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}



/* =========================================TEAM==================== */

/*------------------------------------------------------------------
    Contact
-------------------------------------------------------------------*/

.contact-box{
	padding: 70px 0px;
}

.left-contact h2{
	font-size: 22px;
	font-weight: 500;
	padding-bottom: 30px;
}
.cont-line{
	overflow: hidden;
	margin-bottom: 30px;
}
.icon-b {

    width: 55px;
    height: 55px;
    text-align: center;
    line-height: 55px;
    font-size: 25px;
    margin-right: 15px;
    color: #fff;
    border-radius: 100%;
    background: #e91327;

}
.dit-right h4 {

    font-size: 16px;
    color: #3a4149;
    font-weight: 500;
    margin: 0;
    padding: 0;

}
.dit-right p {
    font-size: 14px;
    margin-top: 0;
}
.dit-right a {

    font-size: 14px;
    color: #3a4149;
    font-weight: 300;
    line-height: normal;

}


.dit-right a:hover{
	color: #57cef8;
}

.contact-block{}

.contact-block .form-group .form-control {

    background: #e2e1e1;
    height: 48px;
    font-size: 14px;
    border: 0;
    padding: 5px 20px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 200;
    letter-spacing: 0px;

}

.submit-button .btn-common {

    background-color: #e91327;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    padding: 0 20px;
    border: 0;
    outline: 0;
    text-transform: uppercase;
    border-radius: 0px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 0 15px 0 15px;
    opacity: 1;

}

.contact-block .form-group textarea.form-control{
	height: 150px;
	padding-top: 15px;
}

.submit-button .btn-common:hover{
	background-color: #111;
  opacity: 1;
}

.custom-select{
	height: 45px;
	font-size: 16px;
}
select.form-control:not([size]):not([multiple]){
	height: calc(45px + 2px);
}

.help-block ul li{
	color: red;
}

.footer-box {
    background: #ccc;
    padding: 20px 0;
}

.footer-box .footer-company-name {

    text-align: center;
    margin: 0px;
    color: #333;
    font-size: 13px;
    font-weight: 400;
    padding-top: 2px;

}

.footer-box .footer-company-name a {
    color: #333;
    text-decoration: underline !important;
}

.footer-box .footer-company-name a:hover {
    color: #e91327;
}





footer {
  background-color: #415161;
  padding: 50px 0;
}

footer h3 {
  font-size: 20px;
  margin-bottom: 15px;
}

footer p {
  font-size: 14px;
  line-height: 1.6;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #70c6eb;
  text-decoration: none;
  transition: color 0.3s ease;
}

footer ul li a:hover {
  color: #ffffff;
}

footer img {
  max-width: 150px;
  margin-bottom: 20px;
}


#scroll-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 110px;
  right: 20px;
  display: none;
  font-size: 25px;
  border-radius: 0;
  transition: .2s;
  letter-spacing: 1px;
  text-align: center;
  line-height: 40px;
  background: #e91327;
  color: #ffffff;
  font-weight: 900;
  border-radius: 100%;
  z-index: 999999999999;
}


#scroll-to-top:hover {
  background-color: #70c6eb;
  cursor: pointer;
}


#fireworks-btn {
  width: 150px;
  height: 50px;
  position: fixed;
  bottom: 10px;  /* Vị trí nút cách nút scroll-to-top */
  right: 20px;
  display: block;
  font-size: 20px;
  border-radius: 25px;
  text-align: center;
  line-height: 50px;
  background: #f39c12;
  color: #ffffff;
  font-weight: 900;
  z-index: 999999999999;
  transition: .2s;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#fireworks-btn:hover {
  background-color: #e67e22;
}

.hvr-radial-out {
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.hvr-radial-out:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s ease;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
}

.hvr-radial-out:hover:before {
  transform: translate(-50%, -50%) scale(1);
}

.hvr-radial-out:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* ==============COUNT DONT ================== */
/* Countdown Timer Styling */
.countdown {
  font-size: 2rem;
  font-weight: 700;
  color: #e91327;
  margin-top: 20px;
}

.countdown p {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Để không ảnh hưởng đến các phần tử khác */
    z-index: 9999; /* Đảm bảo tuyết nằm trên cùng */
}

.snowflake {
    position: absolute;
    top: -10px;
    color: #ffffff;
    font-size: 24px;
    z-index: 9999;
    user-select: none;
    pointer-events: none;
    animation: fall linear infinite;
    opacity: 0.8;
}

@keyframes fall {
    to {
        transform: translateY(100vh); /* Tuyết rơi từ trên xuống */
    }
}
@keyframes drift {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(50vw - 50%)); /* Di chuyển ngang một cách ngẫu nhiên */
  }
}