
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --main-color: #e42729;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}
img {
  width: 100%;
}
#snow {
  height: 100vh;
  width: 100%;
  background-image: url(./images/snow.png);
  -webkit-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }

  50% {
    background-position: 500px 500px, 100px 200px, -100px 150px;
  }

  100% {
    background-position: 500px 1000px, 200px 400px, -100px 300px;
  }
}

header {
  padding: 0 60px;
  background-color: #fff;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999999999;
}
main {
  margin-top: 60px;
}

/* Logo */
.logo img {
  display: block;
  cursor: pointer;
  height: 80px;
  transition: all 0.3s ease;
}

.logo img:hover {
  opacity: 0.8;
}

.menu ul {
  display: flex;
  margin: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  font-size: 17px !important;
  text-decoration: none;
  color: #525252;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: var(--main-color);
}

/* ================================BANNER====================================== */
.banner{
    /* background-color: #b2afb2; */
    background-image: url(../images/snow.png);
   
  -webkit-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
.banner .box-text-baner{
    margin-left: 150px;
}
.banner .title {
  color: var(--main-color);
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
}

.banner .subtitle {
    font-size: 20px;
    margin: 20px 0;
}

